/**
 * Styling related to blogs/podcasts.
 */

.views-field-field-blog-display-img img {
  width: 100%;
  height: auto;
}

.node--type-article .field-node-body {
  max-width: 100%;
  overflow: hidden;
}

// Responsive embeds on blog page view and views.
.views-field-field-blog-podcast-url-embed,
.node--type-article .field-node-body {
  iframe, object, embed {
    width: 100%;
  }
}

// Blog listing
.path-arkiv #block-lytlyrik-page-title {
  display: inline-blocK;
}

#block-blotlagtformularblog-podcastpage-2 {
  width: 60%;
  display: inline-block;
  float: right;
  margin-top: 3rem;
}
