/**
 * Styling related to blogs/podcasts.
 */

.views-field-field-blog-display-img img {
  width: 100%;
  height: auto;
}

.node--type-article .field-node-body {
  max-width: 100%;
  overflow: hidden;

  iframe, object, embed {
    width: 100%;
  }
}
