/**
 * Styling for featured blogs.
 */

.featured-blogs-view {
  .card .card-content {
    padding-right: 10px;
  }

  .card {
    .card-image img {
      height: auto;
    }
    .card-reveal {
      overflow-y: hidden;
    }
  }
}
