/**
 * Styling for featured blogs.
 */

.featured-blogs-view {
  .card .card-content {
    padding: 12px;
    padding-bottom: 0;

    .views-field {
      margin-bottom: 1.2rem;
    }
  }

  .card {
    .card-image img {
      height: auto;
    }
    .card-reveal {
      overflow-y: hidden;
    }
  }
}
