/**
 * Layout related styling.
 */

// Sticky footer.
.layout-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

// Sticky footer.
main {
  flex: 1 0 auto;
}

// Ensure sidebars are in line with page title.
.layout-sidebar-first,
.layout-sidebar-second {
  margin-top: 2.8rem;
}
