/**
 * Overrides default! variables in materializecss.
 *
 * TODO: Find a better way to include this, so we can use functions/mixins from
 * materialize here.
 */

// Default overrides.
$primary-color: #00897b;
$link-color: #0288d1;
$card-link-color: $link-color;

// Own variables (placed here for now).
$background-color: #fafafa;
