/**
 * Overrides default! variables in materializecss.
 *
 * TODO: Find a better way to include this, so we can use functions/mixins from
 * materialize here.
 */

// Default overrides.
$primary-color: #00897b;
$link-color: #0288d1;
$card-link-color: $link-color;
$font-stack: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

// Own variables (placed here for now).
$background-color: #fafafa;
